@charset "UTF-8";
.custom-bg{
	background:#7B1FA2 !important;
}
.admin .card{
	border:1px solid #673ab7;
}
.admin .card:hover{
	background: #e2e2e2;
	cursor: pointer;
}
 .list-group-item.active{
	 background:#7B1FA2 !important;
	 border-color:#7B1FA2 ;
 }
 .discount-label{
	 font-size: 14px !important;
	 font-style: italic !important;
	 
 }
 .product-card:hover{
	 background: #e2e2e2;
	cursor: pointer;
 }